.container {
    text-align: center;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    margin: 0;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container label {
    margin-left: 10px;
}

.sort-container {
    margin-bottom: 20px;
}

.add-product-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-product-container form {
    display: flex;
}

.add-product-container input {
    margin-right: 10px;
}

.add-product-container button {
    background-color: #1b1e20;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-product-container button:hover {
    background-color: #4CAF50;
}

.header {
    background-color: #e4b1ac;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}

.remove {
    background-color: #e4b1ac;
    color: #1b1e20;
    border: none;
    padding: 10px 20px;
    margin: 10px;
}
.a{
color:#1b1e20;
text-decoration: none;
}
.a:hover{
    color: #1fa5a3;
    font-weight: bold;
}
.checkbox[type="checkbox"]{
    accent-color: #e4b1ac;
}